Source: @NAME@
Section: misc
Priority: extra
Maintainer: @MAINTAINER@ <@MAINTAINER_EMAIL@>
Build-Depends: cmake (>=3.10), debhelper (>=11~), qt6-base-dev, qt6-websockets-dev, qt6-webengine-dev, qtkeychain-qt6-dev, git
Standards-Version: 3.8.4
Homepage: @URL@ 
X-Python-Version: >= 2.5

Package: @NAME@
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, openconnect (>=8.0), libqt6websockets6, libqt6webenginecore6, libqt6webenginewidgets6, libqt6keychain1
Description: @SUMMARY@ 
 @DESCRIPTION@ 
