#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# Stuff to allow go to download dependencies
export GOPROXY=proxy.golang.org
export GOSUMDB=sum.golang.org
export GO111MODULE=on

# Dubious, but I'm lazy
DEST=$$(pwd)/debian/@NAME@

# also Dubious, but easier than managing GOPATH/GOROOT/etc
ifeq ($(HOME),/nonexistent)
export HOME=/build
endif

%:
	dh $@ 

override_dh_auto_build:
	GOTOOLCHAIN=auto go build -ldflags="-s -w" -o scc

override_dh_auto_install:
	mkdir -p $(DEST)/usr/bin
	install -m 755 scc $(DEST)/usr/bin

override_dh_auto_test:
